/* ===============================================
HEADER
=================================================*/
@media screen and (max-width: 900px) {
  header {
    width: 12rem;
    min-height: 50rem;
    height: 100vh;

    box-shadow: 1px -1px 2px 0px grey;
  }

  header .logo-container {
    margin-top: 2rem;
  }

  header .logo-container h1 {
    font-size: 3rem;
  }

  header .logo-container p {
    font-size: 2rem;
  }

  header .button-standard {
    margin: 3rem 0 2rem 0;
  }
}

@media screen and (min-width: 900px) {
  header {
    width: 100%;
    height: auto;

    box-shadow: -1px 1px 2px 0px grey;
  }

  header .logo-container h1,
  header .logo-container p {
    font-size: 3rem;
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  z-index: 5;

  background-color: var(--accent);
  transition: all 0.3s ease-in-out;
}

header .logo-container {
  flex-wrap: wrap;
}

header .logo-container h1,
header .logo-container p {
  padding: 1rem;
  font-family: "Forum", serif;
}

header .logo-container img {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  box-shadow: -1px 1px 2px 0px black;
}

header p.full-name {
  text-align: center;
  margin: 2rem 0;
}

header .button-standard {
  height: 50px;
}
