/*=========================================
NAVLINK FOR HEADER
===============================================*/

.navlink-container-text .navlink {
  color: var(--contrast);
  padding: 1rem 0;
  text-align: center;
}

.navlink-container-text a.active {
  text-decoration: none;
  font-weight: bold;
  background-color: var(--contrast);
  color: var(--main);
  border-radius: 3px;
}
